/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --secondary-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0px 0 0px;
    background-color: white;
}

main {
    padding: 0 50px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    gap: 35px;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.3s;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

ul {
    list-style-type: none;
}

/********* Header ********/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    padding: 30px 50px;
    height: 1.2rem;
    margin-top: 13px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 68px;
    margin: 23px 1px;
    padding: 0 50px;
}

nav a:hover {
    color: #0065FC;
    border-top: solid #0065FC 5px;
    padding-top: 20px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
}

.headline h1 {
   margin-top: 20px;
   margin-bottom: 0%;
   padding: 0%;
}

.headline p {
    align-self: stretch;
    font-size: 16px;
    margin-top: 0;
}

/***** SearchBar ***/

.recherche-et-filtre {
    display: flex;
    flex-direction: column ;
    gap: 35px;
}

form {
    display: flex;
}

.searchbar {
    display: flex;
    height: 49px;
    width: fit-content;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
    border-radius: 24px;
}

.searchbar label {
    width: 50px;
    flex-shrink: 0;
    font-size: 22px;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.searchbar label i {
    color: black;
}
.searchbar input {
    max-width: 300px;
    min-width: 160px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    border: none;
    text-align: center;
}


.search-button {
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    font-size: 18px;
}

.search-button-mini {
    display: none;
}

/***** Filtres ****/

.filterbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    width: auto;
    height: 50px;
    gap: 15px;
}

.container-boxfilter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filterbar h2 {
    font-size: 18px;
}

.filterbar h3 {
    font-size: 18px;
}

.boxfilter {
    display: flex;
    align-items: center;
    height: 38px;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid var(--main-bg-color);
    padding: 4px 19px;
    gap: 10px;
}

.boxfilter:hover {
    background-color: var(--filter-bg-color);
}

.boxfilter:focus {
    background-color: var(--main-color);
}

.filtre-logo {
    position: relative;
    display: flex;
    color: var(--main-color);
    margin: 0;
    align-items: center;

}

/***** infobar****/

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.infobar figure {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid;
    border-color: var(--secondary-color);
    margin-right: 10px;
    margin-left: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    column-gap: 40px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires aside {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.hebergements-card .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.hebergements-card img {
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
}

.hebergements-card .card-content {
    width: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-card .card-subtitle {
    margin: 0;
}

.hebergements-card .card-rating {
    margin-bottom: 5px;
}

.populaires-title figure{
    display: flex;
    margin: 0;
}

.hebergements-plus h3 {
    font-size: 18px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITES ****/

.activites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 439px;
    width: 100%;
}

.activites-card a {
    position: relative;
    width: 23%;
}

.activites-card .card {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.activites-card img {
    height: 439px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activites .card-content {
    padding: 20px;
}

.activites .card-txt {
    padding: 0px;
}

.activites-card .card-title {
    margin: 0;
    padding: 0;
}

/******* FOOTER *******/

/***footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--main-bg-color);
    margin-top: 65px;
}
***/
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--main-bg-color);
    margin-top: 65px;
}

.footer-section {

    width: 30%;
}

.footer-list {
    padding: 0;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-link {
    margin-bottom: 10px;
    transition: color 0.4s ease-in-out;
}

.footer-link a:hover {
    color: var(--main-color);
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .filterbar {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .container-boxfilter {
        height: 50px;
    }

    .boxfilter {
        letter-spacing: normal;
    }

    .filterbar h2 {
        margin: 0;
    }

    .filterbar h3 {
        font-size: 16px;
        margin: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        gap: initial;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card {
        height: 270px;
    }

    .activites-card img {
        height: 200px;
    }

    .activites-card .card {
        height: 270px;
    }

    .activites-card .card-content {
        padding: 15px 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) 
{

    body {
        height: auto;
    }

    /**** HEADER ***/
    main {
        padding: 0;
    }

    header {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    header img {
        padding: 30px 30px;
        margin: 0;
    }

    nav {
        width: 100%;
        margin-bottom: 20px;
    }
    nav li {
        width: 100%;
        height: auto;
        margin: 0;
        padding-bottom: 15px;
    }

    nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: var(--main-bg-color) solid 2px;
        padding-bottom: 15px;
    }

    nav a:hover {
        border-bottom: solid #0065FC 2px;
        border-top: none;
        padding-top: unset;
        padding-bottom: 15px;
    }

    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: initial;
        text-align: center;
    }

    .recherche-et-filtre {
        padding: 0 20px;
    }

    .headline h1 {
        margin-top: 0;
        font-size: 22px;
    }

    .search-button {
        display: none;
    }

    .search-button-mini {
        display: flex;
        height: 100%;
        padding: 15px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        background-color: var(--main-color);
        font-size: 18px;
    }
    .search-button-mini i {
        font-weight: 700;
        color: white;
    }

    .filterbar {
        display: flex;
        height: auto;
        gap: 20px;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .container-boxfilter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 15px 10px;
    }

    .boxfilter {
        letter-spacing: normal;
        width: 120px;
    }

    .filterbar h2 {
        margin: 0;
    }

    .filterbar h3 {
        font-size: 14px;
        margin: 0;
    }

    .filtre-logo {
        position: relative;
        display: flex;
        right: 5px;
        font-size: unset;
        height: auto;
        color: var(--main-color);
        margin: 0;
        align-items: center;
    }

    .infobar {
        gap: 10px  ;
    }

    .infobar figure {
        margin: auto;
        margin: 0;
    }

    .textinfo {
        font-size: 16px;
        margin: 0;
        width: 301px;
    }
/*** Populaire ***/

.hebergements-and-populaires {
    flex-direction: column-reverse;
    padding: 0
}

.hebergements-and-populaires section {
    border-radius: unset;
    padding: 30px 20px;
    gap: 15px;
}

.hebergements-and-populaires aside {
    border-radius: unset;
    padding: 30px 20px;
    gap: 15px;
}

.populaires {
    background-color: var(--main-bg-color);
    margin-top: 0;
}

.populaires-title {
    justify-content: space-around;
}

.populaires-cards {
    flex-direction: column;
    gap: 15px;
}

.populaires-cards .card {
    margin-top: unset;
}

.populaires-cards a {

    width: 100%;
}

/***HEBERGEMENT***/

.hebergements {
    background-color: white;
}

.hebergements-card {
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.hebergements-card .card {
    margin-top: unset;
}

.hebergements-card a {
    width: 100%;
}

.hebergements-card img {
    height: 124px;
    width: auto;
}

.hebergements-card .card-title {
    margin: 10px 0;
}

/*** ACTIVITES ****/

.activites {
    height: auto;
}

.activites-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: unset;
}

.activites-card .card {
    width: 100%;
    height: 200px;
}

.activites-card a {
    width: 100%;
}

.activites-card img {
    height: 141px;
}
.activites-card .card-content {
    padding: 20px 19px;
}

.activites-card .card-title {
    margin: 0;
}

.footer-container {
    flex-direction: column;
}
}